<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetFD.Properties.Settings.Youtube16ConnectionString"
            connectionString="Data Source=UTILISA-6T0ALDK\SQLEXPRESS;Initial Catalog=Youtube16;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjetFD.Properties.Settings.UMS0ConnectionString"
            connectionString="Data Source=UTILISA-6T0ALDK\SQLEXPRESS;Initial Catalog=UMS0;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjetFD.Properties.Settings.SI0ConnectionString"
            connectionString="Data Source=UTILISA-6T0ALDK\SQLEXPRESS;Initial Catalog=SI0;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjetFD.Properties.Settings.NEO0ConnectionString"
            connectionString="Data Source=UTILISA-6T0ALDK\SQLEXPRESS;Initial Catalog=NEO0;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjetFD.Properties.Settings.MAT0ConnectionString"
            connectionString="Data Source=UTILISA-6T0ALDK\SQLEXPRESS;Initial Catalog=MAT0;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjetFD.Properties.Settings.GO0ConnectionString"
            connectionString="Data Source=UTILISA-6T0ALDK\SQLEXPRESS;Initial Catalog=GO0;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjetFD.Properties.Settings.CH0ConnectionString"
            connectionString="Data Source=UTILISA-6T0ALDK\SQLEXPRESS;Initial Catalog=CH0;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjetFD.Properties.Settings.OTR0ConnectionString"
            connectionString="Data Source=UTILISA-6T0ALDK\SQLEXPRESS;Initial Catalog=OTR0;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjetFD.Properties.Settings.CCI0ConnectionString"
            connectionString="Data Source=UTILISA-6T0ALDK\SQLEXPRESS;Initial Catalog=CCI0;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjetFD.Properties.Settings.MF0ConnectionString"
            connectionString="Data Source=UTILISA-6T0ALDK\SQLEXPRESS;Initial Catalog=MF0;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjetFD.Properties.Settings.MH0ConnectionString"
            connectionString="Data Source=UTILISA-6T0ALDK\SQLEXPRESS;Initial Catalog=MH0;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjetFD.Properties.Settings.MédSERVICEConnectionString"
            connectionString="Data Source=UTILISA-6T0ALDK\SQLEXPRESS;Initial Catalog=MédSERVICE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjetFD.Properties.Settings.DIALYSE0ConnectionString"
            connectionString="Data Source=UTILISA-6T0ALDK\SQLEXPRESS;Initial Catalog=DIALYSE0;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjetFD.Properties.Settings.MMConnectionString" connectionString="Data Source=UTILISA-6T0ALDK\SQLEXPRESS;Initial Catalog=MM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	
  <runtime>
	
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
	
          </dependentAssembly>
	
      </assemblyBinding>
	
  </runtime>
</configuration>